{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}  Plantas {% endblock %}


{% block content %}

<div class="offset-1 col-10 list-div">
    <h2 style="text-align: center;">Adicione uma nova planta</h2>
    <form  method="POST">
        {% csrf_token %}
        <hr>
        {{ form.as_p }}
        <hr>

        <input type="submit"class="btn btn-success btn-add" value="Salvar">
        <a href="/"><input type="submit"class="btn btn-success btn-add" value="Ir para lista"></a>


    </form>

    
</div>

{% endblock %}