{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Planta '{{plant}}' {% endblock %}


{% block content %}

<div class="offset-1 col-10 list-div">
    <h1> Name: {{plant}} </h1>
    <div class="container text-align-center">
       <h6>Description: {{plant}}</h6>
        <h6>Age: {{plant.age}}</h6>
        <h6>Tree: {{plant.tree}}</h6>
        <h6>Location: {{plant.location}}</h6>
        <h6>Account: {{plant.account}}</h6>
        <h6>User: {{plant.user}}</h6>

    </div>



</div>

{% endblock %}